.dashboard-container {
  background-image: url('./image1.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: auto;
}

body {
  background-image: url('./image1.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: auto;
}

.dashboard-header {
  background-color: #005bac;
  color: black;
}

.header-icon {
  width: 40px;
  height: 40px;
}

.text-center {
  text-align: center;
}

.search-bar-container {
  margin: 10px 0;
}

.form-control {
  width: 80%;
  border-radius: 20px;
  margin-right: 10px;
}

.btn-light {
  background-color: white;
  border: none;
  color: #005bac;
  border-radius: 50%;
}

.grievance-section .grievance-box {
  flex: 1;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  color: black;
}

.bg-lightgreen {
  background-color: #90EE90;
}

.bg-lightred {
  background-color: #FFCCCB;
}

.track-section h3 {
  color: white;
}

.track-section .btn-light {
  background-color: white;
  border: none;
  color: #005bac;
  border-radius: 50%;
  margin-top: 10px;
}

.explore-box {
  width: calc(30% - 20px);
  margin: 10px;
  text-align: center;
}

.explore-box .btn {
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
  background-color: lightblue;
}

.explore-box h5 {
  margin-top: 10px;
  font-size: 14px;
  color: black;
}

.bg-lightgreen-custom {
  background-color: #E4FF77;
}

.bg-lightgreen-solved {
  background-color: #5FF0A2;
}

.bg-lightred-pending {
  background-color: #FF6A6A;
}

.grievance-button {
  width: 30%;
  padding: 20px;
  margin: 10px;
  border: none;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  color: black;
  font-size: 16px;
}

#newGrievance, #trackGrievance {
  padding: 10px 30px;
  border-radius: 50px;
  background-color: #FFC9B8;
  color: black;
  border: 2px solid #FFC9B8;
}

.btn-outline-primary {
  border-color: green;
  color: black;
}

.btn-outline-primary:hover {
  background-color: green;
  color: white;
}

.btn-pink {
  background-color: #ffc0cb;
  color: #333;
}

.btn-rectangle {
  border-radius: 0;
}

.popular-departments .department-name {
  color: white;
}

.department-button {
  display: inline-block;
  text-align: center;
  margin: 10px;
}

.department-icon {
  display: block;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  overflow: hidden;
  width: 120px;
  height: 120px;
}

.department-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.department-button h5 {
  margin-top: 10px;
  color: #333333;
  font-size: 14px;
}
